* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/starterscreen.gif");
  background-size: cover;
}

/* box styling */

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(88, 73, 110);
  opacity: 80%;
  border-radius: 3px;
  padding: 20px;
}

.box-label {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  font-family: 'Palette Mosaic', cursive;
  color: black;
  font-size: xx-large;
  display: flex;
  align-items: center;
  padding: 0 35px;
  padding-bottom: 20px;
  font-weight: 500;
}

.question {
  font-family: 'Kirang Haerang', cursive;
  position: relative;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  padding: 0 30px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
}

.option {
  padding: 15px;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 15px;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 500;
  color: white;
}

.list-item {
  padding: 15px;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 15px;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: large;
  color: white;
}

.list-item-small {
  padding: 15px;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 15px;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: x-small;
  color: white;
}

/* Buttons */

button {
  font-family: 'Kirang Haerang', cursive;
  font-size: medium;
  display:flex;
  justify-content: flex-end;
  margin-top: 10px;
  height: 55px;
  background-color:rgb(43, 28, 56);
  border: 1px solid rgb(53, 33, 70);
  color: white;
  border-radius: 2px;
  padding: 15px 30px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
 background-color:rgb(136, 95, 172);
}

#initials {
  padding: 20px;
  margin-top: 30px;
}

.ending-text {
  font-family: 'Kirang Haerang', cursive;
  font-size: xx-large;
}